:root, [data-bs-theme=light] {
  --bs-secondary: #f462e4;
  --bs-secondary-rgb: 244,98,228;
  --bs-secondary-text-emphasis: #62275B;
  --bs-secondary-bg-subtle: #FDE0FA;
  --bs-secondary-border-subtle: #FBC0F4;
  --bs-success: #61e2f4;
  --bs-success-rgb: 97,226,244;
  --bs-success-text-emphasis: #275A62;
  --bs-success-bg-subtle: #DFF9FD;
  --bs-success-border-subtle: #C0F3FB;
  --bs-dark: #1b1529;
  --bs-dark-rgb: 27,21,41;
  --bs-dark-text-emphasis: #0B0810;
  --bs-dark-bg-subtle: #D1D0D4;
  --bs-dark-border-subtle: #A4A1A9;
  --bs-body-bg: #3a3452;
  --bs-body-bg-rgb: 58,52,82;
  --bs-body-font-family: Lekton, monospace;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f462e4;
  --bs-btn-border-color: #f462e4;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F67AE8;
  --bs-btn-hover-border-color: #F572E7;
  --bs-btn-focus-shadow-rgb: 37,15,34;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F681E9;
  --bs-btn-active-border-color: #F572E7;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f462e4;
  --bs-btn-disabled-border-color: #f462e4;
}

.btn-outline-secondary {
  --bs-btn-color: #f462e4;
  --bs-btn-border-color: #f462e4;
  --bs-btn-focus-shadow-rgb: 244,98,228;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f462e4;
  --bs-btn-hover-border-color: #f462e4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f462e4;
  --bs-btn-active-border-color: #f462e4;
  --bs-btn-disabled-color: #f462e4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f462e4;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #61e2f4;
  --bs-btn-border-color: #61e2f4;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #79E6F6;
  --bs-btn-hover-border-color: #71E5F5;
  --bs-btn-focus-shadow-rgb: 15,34,37;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #81E8F6;
  --bs-btn-active-border-color: #71E5F5;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #61e2f4;
  --bs-btn-disabled-border-color: #61e2f4;
}

.btn-outline-success {
  --bs-btn-color: #61e2f4;
  --bs-btn-border-color: #61e2f4;
  --bs-btn-focus-shadow-rgb: 97,226,244;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #61e2f4;
  --bs-btn-hover-border-color: #61e2f4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #61e2f4;
  --bs-btn-active-border-color: #61e2f4;
  --bs-btn-disabled-color: #61e2f4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #61e2f4;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1b1529;
  --bs-btn-border-color: #1b1529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #171223;
  --bs-btn-hover-border-color: #161121;
  --bs-btn-focus-shadow-rgb: 221,220,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #161121;
  --bs-btn-active-border-color: #14101F;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1b1529;
  --bs-btn-disabled-border-color: #1b1529;
}

.btn-outline-dark {
  --bs-btn-color: #1b1529;
  --bs-btn-border-color: #1b1529;
  --bs-btn-focus-shadow-rgb: 27,21,41;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1b1529;
  --bs-btn-hover-border-color: #1b1529;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1b1529;
  --bs-btn-active-border-color: #1b1529;
  --bs-btn-disabled-color: #1b1529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1b1529;
}

[data-bs-theme=dark] {
  --bs-secondary: #f462e4;
  --bs-secondary-rgb: 244,98,228;
  --bs-secondary-text-emphasis: #F8A1EF;
  --bs-secondary-bg-subtle: #31142E;
  --bs-secondary-border-subtle: #923B89;
  --bs-success: #61e2f4;
  --bs-success-rgb: 97,226,244;
  --bs-success-text-emphasis: #A0EEF8;
  --bs-success-bg-subtle: #132D31;
  --bs-success-border-subtle: #3A8892;
  --bs-dark: #1b1529;
  --bs-dark-rgb: 27,21,41;
  --bs-dark-text-emphasis: #76737F;
  --bs-dark-bg-subtle: #050408;
  --bs-dark-border-subtle: #100D19;
  --bs-body-bg: #3a3452;
  --bs-body-bg-rgb: 58,52,82;
  --bs-body-font-family: Lekton, monospace;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f462e4;
  --bs-btn-border-color: #f462e4;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F67AE8;
  --bs-btn-hover-border-color: #F572E7;
  --bs-btn-focus-shadow-rgb: 37,15,34;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F681E9;
  --bs-btn-active-border-color: #F572E7;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f462e4;
  --bs-btn-disabled-border-color: #f462e4;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #f462e4;
  --bs-btn-border-color: #f462e4;
  --bs-btn-focus-shadow-rgb: 244,98,228;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f462e4;
  --bs-btn-hover-border-color: #f462e4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f462e4;
  --bs-btn-active-border-color: #f462e4;
  --bs-btn-disabled-color: #f462e4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f462e4;
}

[data-bs-theme=dark] .btn-success, .btn-success[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #61e2f4;
  --bs-btn-border-color: #61e2f4;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #79E6F6;
  --bs-btn-hover-border-color: #71E5F5;
  --bs-btn-focus-shadow-rgb: 15,34,37;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #81E8F6;
  --bs-btn-active-border-color: #71E5F5;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #61e2f4;
  --bs-btn-disabled-border-color: #61e2f4;
}

[data-bs-theme=dark] .btn-outline-success, .btn-outline-success[data-bs-theme=dark] {
  --bs-btn-color: #61e2f4;
  --bs-btn-border-color: #61e2f4;
  --bs-btn-focus-shadow-rgb: 97,226,244;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #61e2f4;
  --bs-btn-hover-border-color: #61e2f4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #61e2f4;
  --bs-btn-active-border-color: #61e2f4;
  --bs-btn-disabled-color: #61e2f4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #61e2f4;
}

[data-bs-theme=dark] .btn-dark, .btn-dark[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1b1529;
  --bs-btn-border-color: #1b1529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #171223;
  --bs-btn-hover-border-color: #161121;
  --bs-btn-focus-shadow-rgb: 221,220,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #161121;
  --bs-btn-active-border-color: #14101F;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1b1529;
  --bs-btn-disabled-border-color: #1b1529;
}

[data-bs-theme=dark] .btn-outline-dark, .btn-outline-dark[data-bs-theme=dark] {
  --bs-btn-color: #1b1529;
  --bs-btn-border-color: #1b1529;
  --bs-btn-focus-shadow-rgb: 27,21,41;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1b1529;
  --bs-btn-hover-border-color: #1b1529;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1b1529;
  --bs-btn-active-border-color: #1b1529;
  --bs-btn-disabled-color: #1b1529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1b1529;
}

