:root, [data-bs-theme=light] {
  --bs-primary: #442359;
  --bs-primary-rgb: 68,35,89;
  --bs-primary-text-emphasis: #1B0E24;
  --bs-primary-bg-subtle: #DAD3DE;
  --bs-primary-border-subtle: #B4A7BD;
  --bs-secondary: #f364ff;
  --bs-secondary-rgb: 243,100,255;
  --bs-secondary-text-emphasis: #612866;
  --bs-secondary-bg-subtle: #FDE0FF;
  --bs-secondary-border-subtle: #FAC1FF;
  --bs-success: #61e2f4;
  --bs-success-rgb: 97,226,244;
  --bs-success-text-emphasis: #275A62;
  --bs-success-bg-subtle: #DFF9FD;
  --bs-success-border-subtle: #C0F3FB;
  --bs-danger: #41464a;
  --bs-danger-rgb: 65,70,74;
  --bs-danger-text-emphasis: #1A1C1E;
  --bs-danger-bg-subtle: #D9DADB;
  --bs-danger-border-subtle: #B3B5B7;
  --bs-dark: #1b1529;
  --bs-dark-rgb: 27,21,41;
  --bs-dark-text-emphasis: #0B0810;
  --bs-dark-bg-subtle: #D1D0D4;
  --bs-dark-border-subtle: #A4A1A9;
  --bs-body-bg: #3a3452;
  --bs-body-bg-rgb: 58,52,82;
  --bs-body-font-family: Lekton, monospace;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #442359;
  --bs-btn-border-color: #442359;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3A1E4C;
  --bs-btn-hover-border-color: #361C47;
  --bs-btn-focus-shadow-rgb: 227,222,230;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #361C47;
  --bs-btn-active-border-color: #331A43;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #442359;
  --bs-btn-disabled-border-color: #442359;
}

.btn-outline-primary {
  --bs-btn-color: #442359;
  --bs-btn-border-color: #442359;
  --bs-btn-focus-shadow-rgb: 68,35,89;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #442359;
  --bs-btn-hover-border-color: #442359;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #442359;
  --bs-btn-active-border-color: #442359;
  --bs-btn-disabled-color: #442359;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #442359;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f364ff;
  --bs-btn-border-color: #f364ff;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F57BFF;
  --bs-btn-hover-border-color: #F474FF;
  --bs-btn-focus-shadow-rgb: 36,15,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F583FF;
  --bs-btn-active-border-color: #F474FF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f364ff;
  --bs-btn-disabled-border-color: #f364ff;
}

.btn-outline-secondary {
  --bs-btn-color: #f364ff;
  --bs-btn-border-color: #f364ff;
  --bs-btn-focus-shadow-rgb: 243,100,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f364ff;
  --bs-btn-hover-border-color: #f364ff;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f364ff;
  --bs-btn-active-border-color: #f364ff;
  --bs-btn-disabled-color: #f364ff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f364ff;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #61e2f4;
  --bs-btn-border-color: #61e2f4;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #79E6F6;
  --bs-btn-hover-border-color: #71E5F5;
  --bs-btn-focus-shadow-rgb: 15,34,37;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #81E8F6;
  --bs-btn-active-border-color: #71E5F5;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #61e2f4;
  --bs-btn-disabled-border-color: #61e2f4;
}

.btn-outline-success {
  --bs-btn-color: #61e2f4;
  --bs-btn-border-color: #61e2f4;
  --bs-btn-focus-shadow-rgb: 97,226,244;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #61e2f4;
  --bs-btn-hover-border-color: #61e2f4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #61e2f4;
  --bs-btn-active-border-color: #61e2f4;
  --bs-btn-disabled-color: #61e2f4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #61e2f4;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #41464a;
  --bs-btn-border-color: #41464a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #373C3F;
  --bs-btn-hover-border-color: #34383B;
  --bs-btn-focus-shadow-rgb: 227,227,228;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #34383B;
  --bs-btn-active-border-color: #313538;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #41464a;
  --bs-btn-disabled-border-color: #41464a;
}

.btn-outline-danger {
  --bs-btn-color: #41464a;
  --bs-btn-border-color: #41464a;
  --bs-btn-focus-shadow-rgb: 65,70,74;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #41464a;
  --bs-btn-hover-border-color: #41464a;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #41464a;
  --bs-btn-active-border-color: #41464a;
  --bs-btn-disabled-color: #41464a;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #41464a;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1b1529;
  --bs-btn-border-color: #1b1529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #171223;
  --bs-btn-hover-border-color: #161121;
  --bs-btn-focus-shadow-rgb: 221,220,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #161121;
  --bs-btn-active-border-color: #14101F;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1b1529;
  --bs-btn-disabled-border-color: #1b1529;
}

.btn-outline-dark {
  --bs-btn-color: #1b1529;
  --bs-btn-border-color: #1b1529;
  --bs-btn-focus-shadow-rgb: 27,21,41;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1b1529;
  --bs-btn-hover-border-color: #1b1529;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1b1529;
  --bs-btn-active-border-color: #1b1529;
  --bs-btn-disabled-color: #1b1529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1b1529;
}

[data-bs-theme=dark] {
  --bs-primary: #442359;
  --bs-primary-rgb: 68,35,89;
  --bs-primary-text-emphasis: #8F7B9B;
  --bs-primary-bg-subtle: #0E0712;
  --bs-primary-border-subtle: #291535;
  --bs-secondary: #f364ff;
  --bs-secondary-rgb: 243,100,255;
  --bs-secondary-text-emphasis: #F8A2FF;
  --bs-secondary-bg-subtle: #311433;
  --bs-secondary-border-subtle: #923C99;
  --bs-success: #61e2f4;
  --bs-success-rgb: 97,226,244;
  --bs-success-text-emphasis: #A0EEF8;
  --bs-success-bg-subtle: #132D31;
  --bs-success-border-subtle: #3A8892;
  --bs-dark: #1b1529;
  --bs-dark-rgb: 27,21,41;
  --bs-dark-text-emphasis: #76737F;
  --bs-dark-bg-subtle: #050408;
  --bs-dark-border-subtle: #100D19;
  --bs-body-bg: #3a3452;
  --bs-body-bg-rgb: 58,52,82;
  --bs-body-font-family: Lekton, monospace;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #442359;
  --bs-btn-border-color: #442359;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3A1E4C;
  --bs-btn-hover-border-color: #361C47;
  --bs-btn-focus-shadow-rgb: 227,222,230;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #361C47;
  --bs-btn-active-border-color: #331A43;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #442359;
  --bs-btn-disabled-border-color: #442359;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #442359;
  --bs-btn-border-color: #442359;
  --bs-btn-focus-shadow-rgb: 68,35,89;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #442359;
  --bs-btn-hover-border-color: #442359;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #442359;
  --bs-btn-active-border-color: #442359;
  --bs-btn-disabled-color: #442359;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #442359;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f364ff;
  --bs-btn-border-color: #f364ff;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F57BFF;
  --bs-btn-hover-border-color: #F474FF;
  --bs-btn-focus-shadow-rgb: 36,15,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F583FF;
  --bs-btn-active-border-color: #F474FF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f364ff;
  --bs-btn-disabled-border-color: #f364ff;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #f364ff;
  --bs-btn-border-color: #f364ff;
  --bs-btn-focus-shadow-rgb: 243,100,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f364ff;
  --bs-btn-hover-border-color: #f364ff;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f364ff;
  --bs-btn-active-border-color: #f364ff;
  --bs-btn-disabled-color: #f364ff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f364ff;
}

[data-bs-theme=dark] .btn-success, .btn-success[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #61e2f4;
  --bs-btn-border-color: #61e2f4;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #79E6F6;
  --bs-btn-hover-border-color: #71E5F5;
  --bs-btn-focus-shadow-rgb: 15,34,37;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #81E8F6;
  --bs-btn-active-border-color: #71E5F5;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #61e2f4;
  --bs-btn-disabled-border-color: #61e2f4;
}

[data-bs-theme=dark] .btn-outline-success, .btn-outline-success[data-bs-theme=dark] {
  --bs-btn-color: #61e2f4;
  --bs-btn-border-color: #61e2f4;
  --bs-btn-focus-shadow-rgb: 97,226,244;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #61e2f4;
  --bs-btn-hover-border-color: #61e2f4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #61e2f4;
  --bs-btn-active-border-color: #61e2f4;
  --bs-btn-disabled-color: #61e2f4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #61e2f4;
}

[data-bs-theme=dark] .btn-dark, .btn-dark[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1b1529;
  --bs-btn-border-color: #1b1529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #171223;
  --bs-btn-hover-border-color: #161121;
  --bs-btn-focus-shadow-rgb: 221,220,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #161121;
  --bs-btn-active-border-color: #14101F;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1b1529;
  --bs-btn-disabled-border-color: #1b1529;
}

[data-bs-theme=dark] .btn-outline-dark, .btn-outline-dark[data-bs-theme=dark] {
  --bs-btn-color: #1b1529;
  --bs-btn-border-color: #1b1529;
  --bs-btn-focus-shadow-rgb: 27,21,41;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1b1529;
  --bs-btn-hover-border-color: #1b1529;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1b1529;
  --bs-btn-active-border-color: #1b1529;
  --bs-btn-disabled-color: #1b1529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1b1529;
}

